.exampleContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--ifm-color-emphasis-100);
    border: 1px solid var(--ifm-color-emphasis-300);
    border-top-left-radius: var(--ifm-pagination-nav-border-radius);
    border-top-right-radius: var(--ifm-pagination-nav-border-radius);
    margin-top: 2rem;
}

.code{
    flex: 1 1 100%;
    margin-bottom: var(--ifm-leading);
    border-color: var(--ifm-color-emphasis-300);
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 var(--ifm-pagination-nav-border-radius) var(--ifm-pagination-nav-border-radius);

}

.code > div{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 0;
}

.exampleContainer .animation {
    flex: 1;
    margin: 1rem 0;
}

.exampleContainer .animation .previewWrapper{
    overflow: hidden;
    height: calc(100% - 30px);
}

.exampleContainer .animation .preview{
    padding: 0.4rem;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    height: 100%;
}

.exampleContainer .animation .preview.expandExample{
    max-height: 0;
    overflow: hidden;
}

.exampleContainer .animation .preview ul{
    width: fit-content;
    margin: 0 auto;
}

.exampleContainer .animation button{
    background-color: var(--ifm-color-success-lightest);;
    color: var(--prism-color);
    border: 1px solid var(--ifm-color-emphasis-300);
    border-radius: var(--ifm-global-radius);
    padding: 0.4rem;
    cursor: pointer;
    transform: translateX(-50%);
    margin-left: 50%;
}
.exampleContainer .animation button:hover{
    background: var(--ifm-color-success-light);
}
[data-theme=dark] .exampleContainer .animation button{
    background-color: var(--ifm-color-success-darkest);
}
[data-theme=dark] .exampleContainer .animation button:hover{
    background: var(--ifm-color-success-dark);
}

.exampleContainer .options{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1rem 0.5rem;
    background-color: var(--ifm-color-info-contrast-background);
    border-left: 1px solid var(--ifm-color-emphasis-300);
}

.exampleContainer .options .title {
    position: absolute;
    top: -1rem;
    padding: 0 0.25rem;
    border: 1px solid var(--ifm-color-emphasis-300);
    background-color: var(--ifm-color-info-lightest);
    font-weight: 600;
}
[data-theme=dark] .exampleContainer .options .title {
    background-color: var(--ifm-color-info-darkest);
}

.exampleContainer .options .group{
    position: relative;
    margin-bottom: 0.5rem;
}
.exampleContainer .options .group select{
    display: block;
    width: 100%;
    padding:  1.25rem 2.25rem 0.625rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid var(--ifm-color-emphasis-300);
    border-radius: var(--ifm-pagination-nav-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: calc(3rem + 2px);
    line-height: 1.25;
}
[data-theme=dark] .exampleContainer .options .group select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}
.exampleContainer .options .group label{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0.5rem 0.75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out,transform .1s ease-in-out;
    opacity: .65;
    transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
}
