@keyframes slide-in-right {
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0);
  }
}
@keyframes slide-out-right {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}
@keyframes slide-in-left {
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(0);
  }
}
@keyframes slide-out-left {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(100%);
  }
}
@keyframes slide-in-top {
  from{
    transform: translateY(-100%);
  }
  to{
    transform: translateY(0);
  }
}
@keyframes slide-out-top {
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(-100%);
  }
}
@keyframes slide-in-bottom {
  from{
    transform: translateY(100%);
  }
  to{
    transform: translateY(0);
  }
}
@keyframes slide-out-bottom {
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(100%);
  }
}
