@keyframes slide-in-left {
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0);
  }
}
@keyframes slide-out-left {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}
@keyframes slide-in-right {
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(0);
  }
}
@keyframes slide-out-right {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(100%);
  }
}
@keyframes slide-in-top {
  from{
    transform: translateY(-100%);
  }
  to{
    transform: translateY(0);
  }
}
@keyframes slide-out-top {
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(-100%);
  }
}
@keyframes slide-in-bottom {
  from{
    transform: translateY(100%);
  }
  to{
    transform: translateY(0);
  }
}
@keyframes slide-out-bottom {
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(100%);
  }
}
@keyframes slide-in-top-left {
  from{
    transform: translate(-100%,-100%);
  }
  to{
    transform: translate(0,0);
  }
}
@keyframes slide-in-top-right {
    from{
        transform: translate(100%,-100%);
    }
    to{
        transform: translate(0,0);
    }
}
@keyframes slide-in-bottom-left {
  from{
    transform: translate(-100%,100%);
  }
  to{
    transform: translate(0,0);
  }
}
@keyframes slide-in-bottom-right {
  from{
    transform: translate(100%,100%);
  }
  to{
    transform: translate(0,0);
  }
}
@keyframes slide-out-top-left {
  from{
    transform: translate(0,0);
  }
  to{
    transform: translate(-100%,-100%);
  }
}
@keyframes slide-out-top-right {
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(100%,-100%);
    }
}
@keyframes slide-out-bottom-left {
  from{
    transform: translate(0,0);
  }
  to{
    transform: translate(-100%,100%);
  }
}
@keyframes slide-out-bottom-right {
  from{
    transform: translate(0,0);
  }
  to{
    transform: translate(100%,100%);
  }
}
