.help-text{
  margin-top: 0.25rem;
  font-size: calc(var(--simple-multi-select-font-size) * 0.875);
  margin-left: calc(var(--simple-multi-select-font-size) * 0.75);
  color: var(--simple-multi-select-help-text-color);
}
