@import "variables";

.options{
  padding: 0;
  list-style: none;
  visibility: hidden;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 100;
  border: 1px solid var(--simple-multi-select-border-color);
  border-radius: var(--simple-multi-select-border-radius);
  margin: -1px 0 0 0;

  font-size: var(--simple-multi-select-font-size);

  &.show{
    visibility: visible;
  }

  li{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: calc(var(--simple-multi-select-font-size) * .25) calc(var(--simple-multi-select-font-size) * .75);
    margin: 0;
    background-color: var(--simple-multi-select-option-bg-color);
    color: var(--simple-multi-select-option-color);
    cursor: default;

    &:first-child{
      border-top-left-radius: var(--simple-multi-select-border-radius);
      border-top-right-radius: var(--simple-multi-select-border-radius);
    }
    &:last-child{
      border-bottom-left-radius: var(--simple-multi-select-border-radius);
      border-bottom-right-radius: var(--simple-multi-select-border-radius);
    }

    &:hover, &:focus{
      background-color: var(--simple-multi-select-option-bg-hover-color);
      color: var(--simple-multi-select-option-hover-color);
      .checkbox{
        background-color: var(--simple-multi-select-option-hover-color);
      }
    }

    &.disabled{
      cursor: not-allowed;
      color: var(--simple-multi-select-option-disabled-color);
      background-color: var(--simple-multi-select-option-disabled-bg-color);
      &:hover, &:focus{
        .checkbox{
          background-color: var(--simple-multi-select-option-disabled-color);
        }
      }
      .checkbox{
        background-color: var(--simple-multi-select-option-disabled-color);
      }
    }

    .checkbox{
      display: inline-block;
      width: var(--simple-multi-select-font-size);
      height: var(--simple-multi-select-font-size);
      margin-right: 5px;
      background-color: var(--simple-multi-select-option-color);
      mask-image: url("../assets/square.svg");
      mask-size: cover;
    }

    &.selected{
      .checkbox{
        mask-image: url("../assets/check-square.svg");
      }
    }
  }
}
