:root{
  --simple-multi-select-font-size: 1rem;
  --simple-multi-select-label-color: rgba(0, 0, 0, 0.75);
  --simple-multi-select-color: #000000;

  --simple-multi-select-border-color: #9a9a9a;
  --simple-multi-select-border-radius: 5px;
  --simple-multi-select-bg-color: #FFFFFF;

  --simple-multi-select-hover-border-color: #9a9a9a;
  --simple-multi-select-hover-bg-color: #FFFFFF;
  --simple-multi-select-hover-box-shadow: 0 0 0 0.125rem rgb(0 108 219 / 52%);

  --simple-multi-select-option-color: #000000;
  --simple-multi-select-option-hover-color: #000000;
  --simple-multi-select-option-bg-color: #FFFFFF;
  --simple-multi-select-option-bg-hover-color: #CDDAF5;
  --simple-multi-select-option-disabled-color: #4b4b4b;
  --simple-multi-select-option-disabled-bg-color: #d9d9d9;

  --simple-multi-select-help-text-color: #6c757d;

  --simple-multi-select-icon-chevron-down: url("../assets/chevron-down.svg");
  --simple-multi-select-icon-unchecked: url("../assets/square.svg");
  --simple-multi-select-icon-checked: url("../assets/check-square.svg");
}

[data-theme='dark']{
  --simple-multi-select-font-size: 1rem;
  --simple-multi-select-label-color: rgba(255, 255, 255, 0.85);
  --simple-multi-select-color: #FFFFFF;

  --simple-multi-select-border-color: #696969;
  --simple-multi-select-border-radius: 5px;
  --simple-multi-select-bg-color: #0a0a0a;

  --simple-multi-select-hover-border-color: #696969;
  --simple-multi-select-hover-bg-color: #0a0a0a;
  --simple-multi-select-hover-box-shadow: 0 0 0 0.125rem rgb(78 165 255 / 70%);

  --simple-multi-select-option-color: #ffffff;
  --simple-multi-select-option-hover-color: #ffffff;
  --simple-multi-select-option-bg-color: #0a0a0a;
  --simple-multi-select-option-bg-hover-color: #263553;
  --simple-multi-select-option-disabled-color: #d9d9d9;
  --simple-multi-select-option-disabled-bg-color: #4b4b4b;

  --simple-multi-select-help-text-color: #d3d3d3;
}
